.wordlist {
    width: 210px;
    td {
        font: 18px;
        font-family: Monaco, Consolas, 'Courier new', monospace;
        &.length {
            text-align: center;
        }
    }
}

.letter-list {
    font-size: 1.5em;
    width: auto;
    td {
        width: 1em;
        height: 1em;
    }
    font-family: Monaco, Consolas, 'Courier new', monospace;
}
